.container-tabs {
    margin: 2rem;
    display: flex;
    flex-direction: row;
}

.container-tabs .nav-tabs {
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style-type: none;
}


.container-tabs .nav-tabs > div {
    white-space: nowrap;
    margin-right: 2px;
    line-height: 1.42857143;
    padding: 10px;
    cursor: pointer;
}

.container-tabs .nav-tabs > div:hover {
    background-color: #efefef;
}

.container-tabs .nav-tabs > div.active, .container-tabs .nav-tabs > div.active:hover, .container-tabs .nav-tabs > div.active:focus {
    color: #555;
    cursor: default;
    background-color: #dfdfdf;
}

.container-tabs .tab-content {
    float: left;
    width: 100%;
}

